.productCard {
    background-color:white;
    box-sizing: border-box;
    padding:20px;
    box-shadow:0 0 20px gray;
    border-radius:12px;
    display:inline-block;
    vertical-align: top;
}

.productTitle {
    font-weight:bold;
    font-size:1.2em;
    color:black;
}

.resultsList {
    border:4px solid gray;
    box-sizing: border-box;
}

