.productCard {
    background-color:white;
    box-sizing: border-box;
    padding:20px;
    box-shadow:0 0 5px gray;
    border-radius:70px;
    display:inline-block;
    vertical-align: top;
}

.productTitle {
    font-weight:bold;
    font-size:1.2em;
    color:black;
}

.resultsList {
    box-sizing: border-box;
}

#imgSize {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}